.house{
    background-image: url(../img/pngtree-3d-render-of-a-programmer-in-action-image_3752209.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.house1{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.house2 h2::after{
    content: "";
    animation-name: yousef;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes yousef {
    0%{content: "|";}
    10%{content: "w|";}
    20%{content: "we|";}
    30%{content: "web|";}
    40%{content: "web|";}
    50%{content: "we|";}
    60%{content: "w|";}
    70%{content: "|";}
    80%{content: "w|";}
    90%{content: "we|";}
    100%{content: "web|";}
}

